<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/combined.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../public/images/barn.png" type="image/x-icon">
    <title>Happy Fields</title>
  </head>
  <body>
    <main class="home-container">
      <div class="intro-text">
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <h1>Your <span>favorite</span> farm stand with your favorites <span>fruits</span>, <span>vegetables</span> and <span>dairy</span></h1>
        <a href="/products">View our products</a>
      </div>


    </main>
  </body>
</html>
