
body {
   font-family: 'Nunito', sans-serif;
}

.home-container {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: 100vh;
   background: no-repeat center / cover url('../images/fruitsAndVegs.jpg');
   .intro-text {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      gap: 2rem;

      .rectangle-1 {
         position: absolute;
         width: 40rem;
         height: 4rem;
         top: 0;
         left: 50%;
         background: #FFF301;
      }
      .rectangle-2 {
         position: absolute;
         width: 40rem;
         height: 4rem;
         right: 4rem;
         bottom: 0;
         background-color: #FFF301;
         
      }
      h1 {
         position: relative;
         font-size: 3rem;
         width: 50%;
         align-self: flex-end;
         text-align: center;
         span {
            background: black;
            border-left: 2px solid black;
            border-right: 2px solid black;
            color: #FFF301;
         }
      }
      
      a {
         font-family: 'Nunito', sans-serif;
         text-decoration: none;
         width: 15%;
         text-align: center;
         align-self: flex-end;
         border: 2px solid black;
         background-color: black;
         color: white;
         border-radius: 5px;
         font-size: 1.5rem;
         padding: 1rem;
         transition: all 0.4s ease-out;
         &:hover {
            border-radius: 5rem;
            color: #FFF301;
         }
      }
   }
}

.main-nav {
   position: fixed;
   ul {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      gap: 2rem;
   }
}