<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/combined.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/517/517588.png">
    <title>New product</title>
  </head>
  <body>
    <main class="add-container">
      <div class="add-product">
        <h1>Add your product</h1>
        <div class="rectangle-1"><a href="/">HOME</a></div>
        <div class="rectangle-2"><a href="/products">BACK</a></div>

        <form action="/products" method="post">
          <div>
            <label for="name">Product name:</label>
            <input type="text" name="name" placeholder="Product name" id="name" />
          </div>
          <div>
            <label for="price">Product price:</label>
            <input type="text" name="price" placeholder="Product price" id="price"/>
          </div>
          
          <div>
          <label for="category">Category:</label>
          <select name="category" id="category">
            <% for( let category of categories ) { %>
            <option value="<%=category%>"><%=category%></option>
            <% } %>
          </select>
          </div>
          <button>Add</button>
        </form>
      </div>
    </main>
  </body>
</html>
